<div class="container-fluid">
  <%= form_for(:question, url: {controller: 'questions', action: 'create'}) do |f|  %>
  		<div class="form-group">
			<div class="ryan-overflow-form-label">
				Question Title
			</div>
			<div class="col-md-8 col-md-offset-2">
				<%= f.text_field :title, :placeholder => 'Question Title', class: "form-control" %>
			</div>
		</div>
		<br>
		<br>

		<div class="form-group">
			<div class="ryan-overflow-form-label">
				Question Content
			</div>
			<div class="col-md-8 col-md-offset-2">
				<%= f.text_field :content, :placeholder => 'Question Content', class: "form-control" %>
			</div>
		</div>
		<br>
		<br>

		<div class="form-group">
			<div class="ryan-overflow-form-label">
				Question Tags
				<br>
				( select all that apply with Apple/Control + Click )
			</div>
			<div class="col-md-8 col-md-offset-2">
				<%= f.select :tags, [ ["HTML", "html"], ["CSS", "css"], ["Javascript", "javascript"], ["Rails", "rails"], ["Meteor", "meteor"], ["Git", "git"], ["Php", "php"], ["Pyhthon", "pyhthon"], ["SQL", "sql"], ["Model View Controller", "mvc"], ["Object Orientated Programming", "oop"], ["Wordpress", "wp"] ], {prompt: "Choose Question Tags"}, {:multiple => true, class: "form-control"}  %>
			</div>
		</div>
		<br>
		<br>

				<div class="ryan-overflow-form-button">
					<%= f.submit "Submit", class: "btn btn-default btn-primary" %>
				</div>
			

	<% end %>
<!-- Close Container -->
</div>
