<!-- QUESTION FORM -->
<%= form_for @question do |f| %>
   <div class="container">
      <div class="form-group">
         <div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
<!-- FORM- Question Title –––––––––––––––––––––––––––––––––-->
            <%= f.label :title, "Question Title", class: "form-input-label"  %>
         </div>
         <div class="form-input-field col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
            <%= f.text_field :title, placeholder: 'Question Title', class: "form-control" %>
         </div>
      </div>
      <div class="form-group">
         <div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
            <%= f.label :content, "Question Content", class: "form-input-label" %>
         </div>
         <div class="form-input-field col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
            <%= f.text_area :content, placeholder: 'Question Title', rows: "12", class: "form-control" %>
         </div>
      </div>
      <div class="form-group">
         <div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10" >
            <%= f.label :tags, "Question Tags", class: "form-input-label" %>
         </div>
         <%= f.text_area :tags, placeholder: 'Enter tags with spaces', rows: "12", class: "form-control" %>
      </div>
      <div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10" style="text-align: center;" >
         <%= button_to @question, class: "btn btn-outline btn-success btn-lg", method: :update do %>
            <div class="glyphicon glyphicon-trash"></div>Submit<% end %>
      </div>
   </div>
   <!-- Close Question Form -->
<% end %>
   </div>
<br>
<br>
<br>




      
