<!-- QUESTION INDEX -->
<div class="col-xs-10 col-xs-offset-1" style="text-align:center; text-decoration:underline; margin-bottom: 25px;">
         <h1> Ryan Overflow Questions </h1>
</div>
<div class="container">    
   <div class="row questions-index-row">
        <div class="index-profile col-xs-3 index-header">
           <h3> Asked By </h3>
        </div>
        <div class="space col-xs-1 index-header">
           <h3> ::::: </h3>
        </div>
        <div class="index-content col-xs-5 index-header">
            <h3> Question </h3>
        </div>
        <div class="space col-xs-1 index-header">
            <h3> ::::: </h3>
        </div>
        <div class="index-votes col-xs-2 index-header">
            <h3> Activity </h3>
        </div>
    </div>
   <% @questions.each do |question| %>
   <!-- Questions Index –––––––––––––––––––––––––––––––––-->
      <div class="row questions-index-row content-row">
        <div class="index-profile col-xs-3">
           <div class="user-profile-badge">
               <%= link_to question.user do %>
                  <img class="index-profile-image" src="<%= question.user.profile_pic %>">
               <% end %>
               <br>
               <%= link_to question.user.username, question.user %>
               <br>
                Reputation: <%= link_to question.user.votes.count, question.user %>
                <br>
           <% if (@current_user.id == question.user.id)  %>
            <!-- Edit / Delete Your Question <br> -->
           <div class="edit-delete-buttons">
               <div class="edit-button">
                     <%= button_to edit_question_path(question.id), class: "btn btn-outline btn-warning btn-lg", method: :get do %>
                           <span class="glyphicon glyphicon-trash"></span> 
                           Edit 
                        <% end %>
               </div>
               <div class="edit-button">
                     <%= button_to question, class: "btn btn-outline btn-danger btn-lg", method: :delete, data: { confirm: 'Are you sure you want to delete your Question?' } do %>
                           <span class="glyphicon glyphicon-trash"></span> 
                           Delete 
                        <% end %>
               </div>
            </div>
         <% else %>
         <% end %>
            <!-- Close user-profile-badge -->
            </div>
        </div>
        <div class="space col-xs-1">
           <!-- Empty Column -->
        </div>
        <div class="index-content col-xs-5 index-question-content">
          <div class="question-content">
              <h4>
                  <u><%= link_to truncate(question.title, length:150), question %> </u>
               </h4>
               <%= link_to truncate(question.content, length:150), question %>
               <br>
               <%= question.tags %>
               <br>
               <%= question.created_at.strftime("Question asked at %I:%M %p") %>
               <br>
               <%= question.created_at.strftime("on %B %e, %Y") %>
               <br>
           </div>
        </div>
        <div class="space col-xs-1">
            <!-- Empty Column -->
        </div>
        <div class="index-votes col-xs-2">
                  <div class="questions-index-votes">
                     <h4><span class="glyphicon glyphicon-chevron-up" style="color:green;"></span><br>
                     <strong><u><h4 style="margin-bottom:15px; text-decoration:overline;"> Vote </h4></u></strong>
                     <span class="glyphicon glyphicon-chevron-down"style="color:red;"></span></h4>
                  </div>
                  <u><h3>Votes</h3></u>
                  <h3><%= question.votes.count %></h3>
            <u><h3>Answers</h3></u>
            <h3><%= question.answers.count %></h3>
        </div>
    </div>
   <% end %>
 </div>
<br><br><br>
<!-- If Any Answers Matches  Search ––––––––––––––––––––––––––––––––––––––-->

<% unless @answer_search_match.blank? %>
   <div class="col-xs-10 col-xs-offset-1" style="text-align:center; text-decoration:underline; margin-bottom: 25px;">
            <h2>Your search returned <%= "#{@answer_search_match.count}" %> Answers</h2>
   </div>
   <div class="container">    
      <div class="row questions-index-row">
           <div class="index-profile col-xs-3 index-header">
              <h3> Answered By </h3>
           </div>
           <div class="space col-xs-1 index-header">
              <h3> ::::: </h3>
           </div>
           <div class="index-content col-xs-5 index-header">
               <h3> Answer </h3>
           </div>
           <div class="space col-xs-1 index-header">
               <h3> ::::: </h3>
           </div>
           <div class="index-votes col-xs-2 index-header">
               <h3> Activity </h3>
           </div>
       </div>
      <% @answer_search_match.each do |answer| %>
      <!-- Questions Index –––––––––––––––––––––––––––––––––-->
         <div class="row questions-index-row content-row">
           <div class="index-profile col-xs-3">
              <div class="user-profile-badge">
                  <%= link_to answer.user do %>
                     <img class="index-profile-image" src="<%= answer.user.profile_pic %>">
                  <% end %>
                  <br>
                  <%= link_to answer.user.username, answer.user %>
                  <br>
                   Reputation: <%= link_to answer.user.votes.count, answer.user %>
                   <br>
              <% if (@current_user.id == answer.user.id)  %>
               <!-- Edit / Delete Your Question <br> -->
              <div class="edit-delete-buttons">
                  <div class="edit-button">
                        <%= button_to edit_answer_path(answer.id), class: "btn btn-outline btn-warning btn-lg", method: :get do %>
                              <span class="glyphicon glyphicon-trash"></span> 
                              Edit 
                           <% end %>
                  </div>
                  <div class="edit-button">
                        <%= button_to answer, class: "btn btn-outline btn-danger btn-lg", method: :delete, data: { confirm: 'Are you sure you want to delete your Answer?' } do %>
                              <span class="glyphicon glyphicon-trash"></span> 
                              Delete 
                           <% end %>
                  </div>
               </div>
            <% else %>
            <% end %>
               <!-- Close user-profile-badge -->
               </div>
           </div>
           <div class="space col-xs-1">
              <!-- Empty Column -->
           </div>
           <div class="index-content col-xs-5 index-question-content">
             <div class="question-content">
                 <h4>
                        <u> <%= link_to truncate(answer.content, length:150), answer %> </u>
                  </h4>
                        Original Question: <br>
                     <%= link_to truncate(answer.question.title, length:150), answer.question %>
                  <br>
                  <%= answer.created_at.strftime("Answered at %I:%M %p") %>
                  <br>
                  <%= answer.created_at.strftime("on %B %e, %Y") %>
                  <br>
              </div>
           </div>
           <div class="space col-xs-1">
               <!-- Empty Column -->
           </div>
           <div class="index-votes col-xs-2">
               <strong><u><h4>Votes</h4></u></strong>
                  <div class="questions-index-votes">
                     <h4><span class="glyphicon glyphicon-plus-sign"></span><br><br>
                     <%= answer.votes.count %><br><br>
                     <span class="glyphicon glyphicon-minus"></span><br> </h4>
                  </div>
           </div>
       </div>
      <% end %>
      <!-- CLOSE CONTAINER -->
    </div>
   <br><br><br>
<!-- CLOSE UNLESS -->
<% end %>



