<h3 class="section-header">Questions</h3>
<table id="questions-index-table">
	<thead>
<!-- Question Index Header Row ––––––––––––––––––––––––––––––––––––––-->
		<tr>
			<th class="questions-table-headings">Title</th>
			<th class="questions-table-headings">Content</th>
			<th class="questions-table-headings">Votes</th>
			<th class="questions-table-headings">Answers</th>
			<th class="questions-table-headings">Asked By</th>
		</tr>
	</thead>
<!-- Question Rows ––––––––––––––––––––––––––––––––––––––-->
	<tbody>
		<% @questions.each do |question| %>
		<tr class="questions-index-row">
			<td>
				<%= link_to question.title, question %>
			</td>
			<td>
				<%= link_to question.content, question %>
				<br>
				<span class="eightbit-numerical-text-font">
					<%= question.created_at %>
				</span>
				<br>
				<%= question.tags %>
				</div>
			</td>
			<td>
				<%= question.votes %>
			</td>
			<td>
				<%= question.answers.count %>
			</td>
			<td>
				<%= link_to question.user do %>
						<img src="<%= question.user.profile_pic %>" style="width: 54px; height: 54px; border: 1px solid #4C4646; padding: 3px; margin-top: 5px;">
					<% end %>
				<br>
				<%= link_to question.user.username, question.user %>
				<br>
				<%= link_to question.user.email, question.user %>
				<br>
			</td>
			<% end %>
		</tr>
	</tbody>



</table>
