<!-- QUESTION INDEX -->
	<div class="container">		
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1" style="text-align:center; text-decoration:underline; margin-bottom: 25px;">
				<h3 class="section-header"> Questions </h3>
			</div>
		</div>	
	    <div class="row questions-index-row">
	        <div class="questions-index-title col-xs-3 col-sm-offset-1">
	        	Title
	        </div>
	        <div class="questions-index-content col-xs-4">
	        	Content
	        </div>
	        <div class="questions-index-votes-answers col-xs-2 col-sm-1">
	        	Votes / Answers
	        </div>
	        <div class="questions-index-user col-xs-3 col-sm-2">
	        	Asked By
	        </div>
	    </div>
<% @questions.each do |question| %>
		    <div class="row questions-index-row">
		        <div class="questions-index-title col-xs-3 col-sm-offset-1">
		        	<%= link_to question.title, question %>
		        </div>
		        <div class="questions-index-content col-xs-4">
		        	<%= link_to question.content, question %>
		        	<br>
		        	<%= question.tags %>
		        </div>
		        <div class="questions-index-votes-answers col-xs-2 col-sm-1">
		        	<strong><u>Votes: </u></strong>
		        	<%= question.votes.count %>
		        	<br>
		        	<br>
		        	<strong><u>Answers: </u></strong>
				<%= question.answers.count %>
		        </div>
		        <div class="questions-index-user col-xs-3 col-sm-2">
		        	<%= question.created_at.strftime("%B %e, %Y at %I:%M %p") %>
				<br>
				<%= link_to question.user do %>
					<img class="index-profile-image" src="<%= question.user.profile_pic %>">
				<% end %>
				<br>
				<%= link_to question.user.username, question.user %>
				<br>
				<%= link_to question.user.email, question.user %>
		        </div>
	<% if (@current_user.id == question.user_id)  %>
			<div class="row">
				<div class="col-md-4">
					<div class="ryan-overflow-form-button">
						<%= link_to 'Edit', edit_question_path(question.id),  class: "btn btn-default btn-primary"  %>
						<%= button_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure you want to delete this Question?' }, class: "btn btn-default btn-primary"  %>
					</div>	
				</div>
			</div>
	<% else %>
	<% end %>
		    </div>
		</div>
<% end %>

	<br>
	<br>
	<br>

		

<!-- If Any Answers Matches  Search ––––––––––––––––––––––––––––––––––––––-->

<% unless @answer_search_match.blank? %>
	<div class="container">		
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1" style="text-align:center; text-decoration:underline; margin-bottom: 25px;">
				<h3 class="section-header">Answers</h3>
			</div>
		</div>
	    <div class="row questions-index-row">
	        <div class="questions-index-answer-content col-xs-4">
	        	Content
	        </div>
	        <div class="questions-index-answer-votes-answers col-xs-2 col-sm-1">
	        	Votes
	        </div>
	        <div class="questions-index-answer-user col-xs-3 col-sm-2">
	        	Answered By
	        </div>
	    </div>
<% @answer_search_match.each do |answer| %>
	    <div class="row questions-index-row">
	        <div class="questions-index-answer-content col-xs-4">
	        	<%= link_to answer.content, answer %>
	        	<br>
	        	<br>
	        	<%= answer.tags %>
	        </div>
	        <div class="questions-index-answer-votes-answers col-xs-2 col-sm-1">
	        	<strong><u><%= answer.votes %></u></strong>
	        </div>
	        <div class="questions-index-answer-user col-xs-3 col-sm-2">
	        	<%= answer.created_at.strftime("%B %e, %Y at %I:%M %p") %>
	        	<br>
			<%= link_to answer.user do %>
				<img class="index-profile-image" src="<%= answer.user.profile_pic %>">
			<% end %>
	        	<br>
			<%= link_to answer.user.username, answer.user %>
	        	<br>
			<%= link_to answer.user.email, answer.user %>
	        </div>
	    </div>
	    <% if (@current_user.id == answer.user_id)  %>
			<div class="row">
				<div class="col-md-4">
					<div class="ryan-overflow-form-button">
						<%= link_to 'Edit', edit_answer_path(answer.id),  class: "btn btn-default btn-primary"  %>
						<%= button_to 'Delete', answer, controller: :answers, method: :delete, data: { confirm: 'Are you sure you want to delete this Question?' }, class: "btn btn-default btn-primary"  %>
					</div>	
				</div>
			</div>
	<% else %>
	<% end %>
	<% end %>
	    <!-- CLOSE CONTAINER -->
<% end %>
	  </div>				



