<!-- SHOW QUESTION VIEW -->

<div class="question-show">
	<h3>
		# <%= @question.id %>  &nbsp
		<strong><%= @question.title %></strong>
	</h3>
	<p>
		<%= @question.content %>
	</p>
	<p>
		<strong>Tags:</strong>
		<br>
		<span class="eightbit-numerical-text-font"> <%= @question.tags %> </span>
	</p>
	<p>
		<strong>Votes:</strong>
		<span class="eightbit-numerical-text-font"> <%= @question.votes.count %> </span>
	</p>
	<p>
		<strong>Asked on</strong>
		<span class="eightbit-numerical-text-font"><%= @question.created_at %></span>
	</p>
	<p>
		<strong>User Id</strong>
		<%= @question.user.id %>
		<br>
		<strong>Asked by</strong>
		<%= @question.user.username %>
	</p>
<!-- <div class="ryan-overflow-form-button">	
<%-# link_to 'Edit', edit_question_path(@question), class: "btn btn-default btn-primary"  %>
<%-# link_to 'Delete', @question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-primary"  %>
</div>	 -->

</div>
<!-- Answers ––––––––––––––––––––––––––––––––––––––-->
<table class="answer-table">
	<th colspan="2">
		<h3>Answers</h3>
		<% if !@question.answers.empty? %>
	</th>
	<% @question.answers.each do |answer| %>
	<tr>
		<td>
			<h4> <%= answer.content %> </h4>
		</td>
	</tr>
	<tr>
		<td>
			Votes:
			<%= answer.votes.count %>
		</td> 
		<td class="question-answer-created-on">
			<strong>Answered on</strong>
			<span class="eightbit-numerical-text-font"><%= answer.created_at %></span>
			<td>
			</tr>
			<tr>
				<td class="question-answer">
					<strong>Answered by:</strong>
					<br>
					ID# <span class="eightbit-numerical-text-font"><%= answer.user_id %> &nbsp</span>
					Username:<%= answer.user.username %> 
					<br><br><br>
				</td>
				<td>
					<strong>Tags:</strong>
					<br>
					<span class="eightbit-numerical-text-font"> <%= answer.tags %> </span>
				</td>
			</tr>
			<br>
			<br>
			<!-- <tr>
				<td>
					<div class="ryan-overflow-form-button">
						<%-# link_to 'Edit', edit_answer_path(@question), class: "btn btn-default btn-primary"  %>
						<%-# link_to 'Delete', @question.answer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-primary"  %>
					</div>	
				</td>
			 </tr> -->
			<% end %>
			<% else %>
			<tr>
				<td>
					<strong>No Answers Yet</strong>
				</td>
			</tr>

			
				<% end %>
		</table>



		<%= render partial: 'answers/form', :locals => { :question => @question } %>


