<!-- SHOW QUESTION VIEW -->
	<table class="index-table">
		<thead>
			<tr>
				<th class="index-table-headings index-row-cell" style="border-left: none;"># 
					<%= @question.id %>  &nbsp
					<strong><%= @question.title %></strong>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="index-row">
				<td class="index-row-cell">
					<span class="question-title">
						<%= @question.content %>
					</span>
				</td>
			</tr>
			<tr class="index-row">
				<td class="index-row-cell">
					<span class="question-title">	
						<strong>Tags:</strong>
						<br>
						<%= @question.tags %>
					</span>
				</td>
			</tr>
			<tr class="index-row">
				<td class="index-row-cell">
					<span class="question-title">	
						<strong>Votes:</strong>
						<br>
						 <%= @question.votes.count %>
					</span>
				</td>
			</tr>
			<tr class="index-row">
				<td class="index-row-cell">
					<span class="question-title">		
						<strong>Asked by</strong>
						<%= @question.user.username %>
						<%= @question.created_at %>
					</span>
				</td>
			</tr>
		</tbody>
	</table>

	<br>
	<br>
	<br>
	<br>
<!-- Answers ––––––––––––––––––––––––––––––––––––––-->
	<table class="index-table">
		<thead>
			<tr>
				<th class="index-table-headings index-row-cell" style="border-left: none;">
				Answers
				</th>
			</tr>
		</thead>
<% if !@question.answers.empty? %>
<% @question.answers.each do |answer| %>
		<tbody>
			<tr class="index-row">
				<td class="index-row-cell">
					<span class="question-title">
						<%= answer.content %> 
					</span>
				</td>
			</tr>
			<tr class="index-row">
				<td class="index-row-cell">
					<span class="question-title">
						Votes:
						<%= answer.votes.count %>
					</span>
				</td>
			</tr>	
			<tr class="index-row">
				<td class="index-row-cell">
					<span class="question-title">
						<strong>Answered by:</strong>
						<br>
						Username:<%= answer.user.username %> 
						<br>
						<%= answer.created_at %></span>
					</span>
				</td>
			</tr>
			<tr class="index-row">
				<td class="index-row-cell">
					<span class="question-title">
						<strong>Tags:</strong>
						<br>
						<%= answer.tags %> </span>
					</span>
				</td>
			</tr>
				<!-- <tr>
					<td>
						<div class="ryan-overflow-form-button">
							<%-# link_to 'Edit', edit_answer_path(@question), class: "btn btn-default btn-primary"  %>
							<%-# link_to 'Delete', @question.answer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-primary"  %>
						</div>	
					</td>
				 </tr> -->
<% end %>
<% else %>
			<tr>
				<td>
					<strong>No Answers Yet</strong>
				</td>
			</tr>
<% end %>
		</tbody>

				
	</table>



		<%= render partial: 'answers/form', :locals => { :question => @question } %>


