<!-- QUESTION SHOW -->
   <div class="container">
       <div class="row question-show-header">
           <div class="question-title col-sm-offset-1 col-sm-10">
            <h3><%= @question.title %></h3>
           </div>
       </div>
       <div class="row">
         <div class="activity-column col-xs-2">
            <div class="votes-container">
               <h4>
                  <div class="glyphicon glyphicon-chevron-up votes-container-buttons up-vote" >
                  </div>
                  <div class="votes-container-text">
                     Votes<br>
                      @question.votes.count %>
                  </div>               
                  <div class="glyphicon glyphicon-chevron-down votes-container-buttons down-vote">
                  </div>
               </h4>
            </div>
         </div>




           <div class="col-xs-11 col-sm-9">
               <h4>
               <%= @question.content %>
               </h4>
           </div>
       </div>
       <div class="row">
           <div class="question-tags col-sm-offset-2 col-sm-9">
            <h5>
               <u>Tags: </u>
            </h5>
            <% @question.tags.split.to_a.each do |tag| %>
            <div class="index-tag">
               <%= tag %>
            </div>
            <% end %>
           </div>
       </div>
       <div class="row">
           <div class="question-edit col-sm-offset-2 col-sm-4">
            <!-- share edit flag -->
           </div>
           <div class="question-user col-sm-offset-1 col-sm-4">
            <%= @question.created_at.strftime("%B %e, %Y") %>
            <%= link_to @question.user do %>
            <img class="question-profile-image" src="<%= @question.user.profile_pic %>">
            <%= @question.user.username %>
            <% end %>
            @question.user.votes.count %>
           </div>
       </div>
       <div class="row">
           <div class="question-comments col-sm-offset-2 col-sm-9">
            COMMENTS HERE
           </div>
       </div>
       <div class="row">
           <div class="question-add-comment col-sm-offset-2 col-sm-4">
            ADD COMMENT
           </div>
       </div>
<!-- Edit & Delete Buttons if Belongs to Current User –––––––––––––––––––––––––––––––––-->
<% if (@current_user.id == @question.id)  %>
   <div class="edit-delete-buttons">
      <div class="edit-button">
            <%= button_to edit_question_path(@question), class: "btn btn-outline btn-warning btn-lg", method: :get do %>
                  <div class="glyphicon glyphicon-trash"></div> 
                  Edit 
               <% end %>
      </div>
      <div class="edit-button">
            <%= button_to @question, class: "btn btn-outline btn-danger btn-lg", method: :delete, data: { confirm: 'Are you sure you want to delete your Question?' } do %>
                  <div class="glyphicon glyphicon-trash"></div> 
                  Delete 
               <% end %>
      </div>
   </div>
<% else %>
<% end %>
		
           
         
<!-- Answers ––––––––––––––––––––––––––––––––––––––-->
	<div class="row question-show-header">
	        <div class="question-answer-header col-sm-offset-1 col-sm-3">
	        	<h3><%= @question.answers.count %> Answers</h3>
	        </div>
	        <div class="question-answer-sort col-sm-offset-3 col-sm-4">
	        	Best | Date | Votes
	        </div>
	    </div>
<% unless @question.answers.empty? %>
<% @question.answers.each do |answer| %>
	    <div class="row">

       <div class="activity-column col-xs-2">
            <div class="votes-container">
               <h4>
                  <div class="glyphicon glyphicon-chevron-up votes-container-buttons up-vote" >
                  </div>
                  <div class="votes-container-text">
                     Votes<br>
                     answer.votes.count %>
                  </div>               
                  <div class="glyphicon glyphicon-chevron-down votes-container-buttons down-vote">
                  </div>
               </h4>
            </div>
         </div>
	        <div class="question-answer-content col-sm-offset-0 col-sm-9">
	        	 <%= link_to answer.content, answer %>
	        </div>
	    </div>
	    <div class="row">
	        <div class="answer-edit col-sm-offset-2 col-sm-4">
	        	<!-- share edit flag -->
	        </div>
	        <div class="answer-user col-sm-offset-1 col-sm-4">
	        	<%= answer.created_at.strftime("%B %e, %Y") %>
	        	<br>
	        	<%= link_to answer.user do %>
	        	<img class="answer-profile-image" src="<%= answer.user.profile_pic %>">
	        	<%= answer.user.username %>
	        	<% end %>
	        	 answer.user.votes.count %>
	        </div>
	    </div>
	    <div class="row">
	        <div class="answer-comment col-sm-offset-1 col-sm-10">
	        	<%= answer.id %> <br>
	        	COMMENT HERE
	        </div>
	    </div>
	    <% if (@current_user.id == answer.user.id)  %>
                <div class="edit-delete-buttons">
                  <div class="edit-button">
                        <%= button_to edit_answer_path(answer), class: "btn btn-outline btn-warning btn-lg", method: :get do %>
                              <div class="glyphicon glyphicon-trash"></div> 
                              Edit 
                           <% end %>
                  </div>
                  <div class="edit-button">
                        <%= button_to answer, class: "btn btn-outline btn-danger btn-lg", method: :delete, data: { confirm: 'Are you sure you want to delete your Answer?' } do %>
                              <div class="glyphicon glyphicon-trash"></div> 
                              Delete 
                           <% end %>
                  </div>
               </div>
<% else %>
<% end %>
	    <!-- CLOSE CONTAINER -->
	</div>
	<br>
	<br>
	<br>

<% end %>
				 
<% else %>
		<strong>No Answers Yet</strong>
<% end %>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1" style="text-align:center; text-decoration:underline; margin-top: 25px;">
				<h3>Answer this question:</h3>
			</div>
		</div>
<%= form_for @answer do |f| %>
	<div class="container" style="border-top: 2px solid #4C4646">
		<div class="form-group">
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
				<%= f.label :content, "Your Answer", class: "form-input-label"  %>
			</div>
			<div class="form-input-field col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
				<%= f.text_area :content, :placeholder => 'Your Answer',  rows: "12",class: "form-control" %>
			</div>
			<%= f.hidden_field :question_id, value: @question.id  %>
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10" style="text-align: center;">
				<%= f.submit "Submit", class: "btn btn-default btn-primary" %>
<% end %>
            </div>
    </div>
  </div>
  <br>
  <br>
  <br>





