<!-- USER FORM -->
<%= form_for @user do |f| %>
       <div class="container">
  		<div class="form-group">
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
				<%= f.label :email, "Email", class: "form-input-label"%>
			</div>
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
				<%= f.text_field :email, :placeholder => 'Email Address', class: "form-control" %>
			</div>
		</div>
		<br>
		<br>

		<div class="form-group">
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
				<%= f.label :name, "Name", class: "form-input-label"%>
			</div>
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
				<%= f.text_field :name, :placeholder => 'Your Name', class: "form-control" %>
			</div>
		</div>
		<br>
		<br>

		<div class="form-group">
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
				<%= f.label :username, "Username", class: "form-input-label"%>
			</div>
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
				<%= f.text_field :username, placeholder: 'Username', class: "form-control input-xlg" %>
			</div>
		</div>
		<br>
		<br>

		<div class="form-group">
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
				<%= f.label :password, "Password", class: "form-input-label"%>
			</div>
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
				<%= f.text_field :password, type: "password", class: "form-control input-xlg" %>
			</div>
		</div>
		<br>
		<br>

		<div class="form-group">
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
				<%= f.label :password_confirmation, "Confirm Password", class: "form-input-label"%>
			</div>
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
				<%= f.text_field :password_confirmation,  type: "password", class: "form-control input-xlg" %>
			</div>
		</div>
		<br>
		<br>

		<div class="form-group">
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
				<%= f.label :bio, "Profile Bio", class: "form-input-label"%>
			</div>
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
				<%= f.text_area :bio, placeholder: 'Bio...', rows: "12", class: "form-control input-xlg" %>
			</div>
		</div>
		<br>
		<br>

		<div class="form-group">
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
				<%= f.label :title, "Profile Pic Url", class: "form-input-label"%>
			</div>
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
				<%= f.text_field :profile_pic, placeholder: 'Url of Pic', class: "form-control input-xlg" %>
			</div>
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10" style="text-align: center;">
				<%= f.submit "Submit", class: "btn btn-default btn-primary" %>
		        </div>
		</div>
		<br>
		<br>
	<!-- CLOSE CONTAINER -->
	</div>		
<% end %>
		
