<!-- USER FORM -->

<%= form_for @user do |f| %>
<div class="container sign-in-up">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <br>

            <div class="tab-content">
                <!-- SIGN UP -->
                <div class="tab-pane fade in active" id="new">
                    <br>
                    <fieldset>
                        <div class="form-group">
                            <div class="right-inner-addon">
                                <i class="fa fa-user"></i>
                                <%= f.text_field :name, :placeholder => 'Name', class: "form-control input-lg" %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="right-inner-addon">
                                <i class="fa fa-globe"></i>
                                <%= f.text_field :username, :placeholder => 'Username', class: "form-control input-lg" %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="right-inner-addon">
                                <i class="fa fa-envelope"></i>
                                <%= f.text_field :email, :placeholder => 'Email', class: "form-control input-lg" %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="right-inner-addon">
                                <i class="fa fa-key"></i>
                                <%= f.text_field :password, :placeholder => 'Password', class: "form-control input-lg" %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="right-inner-addon">
                                <i class="fa fa-key"></i>
                                <%= f.text_field :password_confirmation, :placeholder => 'Confirm Password', class: "form-control input-lg" %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="right-inner-addon">
                                <i class="fa fa-camera"></i>
                                <%= f.text_field :profile_pic, :placeholder => 'Profile Pic', class: "form-control input-lg" %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="right-inner-addon">
                                <i class="fa fa-book"></i>
                                <%= f.text_area :bio, :placeholder => 'Bio', rows: "12", class: "form-control input-lg" %>
                            </div>
                        </div>
                    </fieldset>
                    <hr>

                    <% if @current_user && @current_user.id == @user.id %>
                    <div class="form-group">
                        <div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10" style="text-align: center;">
                            <div class="edit-delete-buttons">
                                <div class="edit-button col-xs-6">
                                    <%= button_to @user, class: "btn btn-outline btn-success", method: :update do %>
                                    <div class="glyphicon glyphicon-ok"></div>
                                    Submit
                                    <% end %>
                                </div>     
                                <div class="edit-button col-xs-6">    
                                    <%= button_to users_path, class: "btn btn-outline btn-info", method: :get do %>
                                    <div class="glyphicon glyphicon-remove"></div>
                                    Cancel
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% else %>
                    <div class=" text-center">
                        <button type="submit" class="btn btn-outline btn-success"><div class="glyphicon glyphicon-ok-sign"></div> &nbsp SIGN UP</button>
                    </div>
                    <% end %>
                </div>
                <hr>
            </div>  <!-- /.tab-content -->
        </div>  <!-- /. col-md-4 col-md-offset-4 -->
    </div>  <!-- /. row -->
</div>  <!-- /.container sign-in-up -->


<!-- CLOSE CONTAINER -->
</div>    
<% end %>
