<!-- USER INDEX -->

<!-- Ryan Users Page Title –––––––––––––––––––––––––––––––––-->
<div class="row">
   <div class="col-xs-12 page-title">
      <h1> Users </h1>
   </div>
</div>

<!-- Ryan Users Container –––––––––––––––––––––––––––––––––-->
<div class="container">
   <div class="row container-column-header-row">
      <div class="container-column-header col-xs-3">
           Profile
      </div>
      <div class="container-column-header col-xs-5">
           Bio
      </div>
      <div class="container-column-header col-xs-1">
           Questions
      </div>
      <div class="container-column-header col-xs-2">
           Answers
      </div>
      <div class="container-column-header col-xs-1">
           Votes
      </div>
   </div>

   <% @users.each do |user| %>					
      <div class="row user-index-row">
        <div class="index-profile col-xs-3">
         <div class="user-profile-badge">
            <%= link_to user do %>
               <img class="index-profile-image" src="<%= user.profile_pic %>">
            <% end %>
            <h4> 
               <u> <%= link_to user.username, user %> </u> 
            </h4>
            <div class="index-reputation">
               <h5>  Reputation:  user.votes.count %> </h5> 
            </div>
            <!-- Close user-profile-badge -->
         </div>
      <!-- Close User Column -->
      </div>
         <div class="user-index-profile col-xs-5">
            <h3>
            <%= link_to user.bio, user %> <br>
            </h3>
            <h4>
            <%= link_to user.email, user %> <br>
            </h4>
            <h4>
            Location: <%= link_to user.location, user %> <br>
            </h4>
            <h5>
               <%= user.created_at.strftime("Joined date: %I:%M%P on %B %e, %Y") %>
            </h5>
         </div>
         <div class="col-xs-1">
            <h3>
            <%= link_to user.questions.count, user %>
            </h3>
            <h4>
             Tags: <br>
            </h4>
             <div class="tags">
            <% user.questions.last.tags.split.to_a.each do |tags| %>
            <div class="index-tag">
               <%= tags %>
               </div>
            <% end %>
            </div>
         </div>
         <div class="user-index-answers col-xs-2">
            <%= link_to user.answers.count, user %>
         </div>
         <div class="col-xs-1">
            <div class="votes-container">
               <h4>
                  <div class="glyphicon glyphicon-chevron-up votes-container-buttons up-vote" >
                  </div>
                 <div class="votes-container-text">
                     Votes
                     <br>
                      user.votes.count %>
                  </div>
                  <div class="glyphicon glyphicon-chevron-down votes-container-buttons down-vote"></div>
               </h4>
            </div>
         </div>
         <!-- Close User Row –––––––––––––––––––––––––––––––––-->
      </div>
      <br>
   <% end %>

</div>						



