<!-- USER SHOW PAGE –––––––––––––––––––––––––––––––––-->
<div class="row">
    <div class="col-xs-12 page-title">
        <span class="section-title">
            <span class="section-title-bookends">:::::</span> 
            <%= @user.username.capitalize %>
            <span class="section-title-bookends">:::::</span>
        </span>
    </div>   <!-- /.col-xs-12 page-title -->
</div>  <!-- /.row -->

<!--  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––-->
<!-- User Show Profile ––––––––––––––––––––––––––––––––––––––––––-->
<!--  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––-->

<!-- Headers - User Profile –––––––––––––––––––––––––––––––––-->
    <div class="container header-container">
        <div class="row ryanoverflow-vertical-column row header-row">
            <div class="header-cell col-xs-3">
                Profile
            </div>
            <div class="header-cell col-xs-5">
                Bio
            </div>
            <div class="header-cell col-xs-4">
                About
            </div>
        </div>  <!-- /.row ryanoverflow-vertical-column row header-row -->
    </div>  <!-- / .container header-container -->

<div class="container">
    <div class="col-xs-12">
        <div class="row ryanoverflow-vertical-column">

<!-- If Current User Profile Column ––––––––––––––––––––––––––––––-->
            <% if (@current_user.id == @user.id)  %>

            <div class="col-xs-3">
                <div class="ryanoverflow-horizontal-rows">
                    <img src="<%= @user.profile_pic %>">
                    <div class="username bg-w-border">
                        <u>Name</u> <br>
                        <%= @user.name.capitalize %>
                    </div>
                    <div class="username bg-w-border">
                        <u>Username</u> <br>
                        <%= @user.username.capitalize %>
                    </div>

<!-- Current User Edit Buttons –––––––––––––––––––––––––––––––––-->
                    <div class="user-show-profile-column-buttons" style="margin-top: 10px;">
                        <div class="user-show-edit-button">
                            <%= button_to edit_user_path(@user.id), class: "btn btn-outline btn-warning", method: :get do %>
                            <div class="glyphicon glyphicon-edit"></div> 
                            Edit 
                            <% end %>
                        </div>
                        <div class="user-show-delete-button" style="margin-top: 10px;">
                            <%= button_to @user, class: "btn btn-outline btn-danger", method: :delete, data: { confirm: 'Are you sure you want to delete your Profile?' } do %>
                            <div class="glyphicon glyphicon-trash"></div> 
                            Delete 
                            <% end %>
                        </div>
                    </div>  <!-- /.user-show-profile-column-buttons -->

                </div>  <!-- /.ryanoverflow-horizontal-rows -->
            </div>  <!-- / .col-xs-3 -->

            <% else %>  <!--  if (@current_user.id == user.user.id)  -->
            
<!-- Not Current User Profile Column –––––––––––––––––––––––––––––––––-->
            <div class="col-xs-3">
                <div class="ryanoverflow-horizontal-rows">
                    <div class="profile-image" >
                        <img src="<%= @user.profile_pic %>">
                    </div>
                    <div class="username bg-w-border">
                        <u>Name</u> <br>
                        <%= @user.name.capitalize %>
                    </div>
                    <div class="username bg-w-border">
                        <u>Username</u> <br>
                        <%= @user.username.capitalize %>
                    </div>
                </div>  <!-- /.ryanoverflow-horizontal-rows --> 
            </div>  <!-- /.col-xs-3 -->

            <% end %>  <!--  if (@current_user.id == user.user.id)  -->

<!-- Bio Column –––––––––––––––––––––––––––––––––-->
            <div class="col-xs-5" >
                <div class="ryanoverflow-horizontal-rows">
                    <div class="bio bg-w-border">
                        <%= @user.bio %>
                    </div>
                    <div class="col-xs-12">
                        <div class="user-show-user-questions col-xs-6">
                            <div class="bio-preview-header"> 
                                Questions:
                            </div>
                            <div class="bg-w-border" style="overflow:hidden;">
                                <%=  @user.questions.count %>
                            </div>
                        </div>
                        <div class="user-show-user-answers  col-xs-6">
                            <div class="questions-preview-header"> 
                                Answers:
                            </div>
                            <div class="bg-w-border" style="overflow:hidden;">
                                <%=  @user.answers.count %>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-xs-12">
                        <div class="questions-preview-header">
                            Tags:
                        </div>
                        <div class="tag-grouping">
                            <% @user.questions.each do |question| %>
                            <% tags_array = question.tags.split(/\W+/).to_a %>
                            <div class="tags-individualized bg-w-border">
                                <% 11.times do %>
                                <%=  tags_array.sample %>
                                <% end %>
                            </div>   
                            <% end %>
                        </div>
                    </div>
                </div>  <!-- /.ryanoverflow-horizontal-rows -->
            </div>  <!-- /.col-xs-5 -->

<!-- About Column –––––––––––––––––––––––––––––––––-->
            <div class="col-xs-4">
                <div class="ryanoverflow-horizontal-rows">
                    <div class="bio-preview-header"> 
                        <u>Location</u>
                    </div>
                    <div class="bg-w-border" style="overflow:hidden;">
                        <%= @user.location.capitalize %> 
                    </div>
                    <div class="bio-preview-header"> 
                        <u>Reputation</u> <br>
                    </div>
                    <div class="bg-w-border" style="overflow:hidden;">
                        <%= @user.user_reputation %>
                    </div>
                    <div class="bio-preview-header"> 
                        <u>Email</u> <br>
                    </div>
                    <div class="bg-w-border" style="overflow:hidden;">
                        <%= @user.email.capitalize %>
                    </div>
                    <div class="bio-preview-header"> 
                        <u>Join Date</u> <br>
                    </div>
                    <div class="bg-w-border" style="overflow:hidden;">
                        <%= @user.created_at.strftime(" %B %e, %Y") %>
                    </div>
                    <div class="bio-preview-header"> 
                        <u>Latest Activity</u> <br>
                    </div>

                    <% if !@user.questions.empty? %>
                    <div class="bg-w-border" style="overflow:hidden;">
                        <% if @user.questions.last.created_at < @user.answers.last.created_at  && @user.questions.last.created_at <  @user.updated_at %>
                        Question asked at<br>
                        <%= @user.questions.last.created_at.strftime("%l:%M%P on %D") %>
                        <% elsif @user.answers.last.created_at < @user.questions.last.created_at  && @user.answers.last.created_at <  @user.updated_at %>
                        Answer given at <br>
                        <%= @user.answers.last.created_at.strftime("%l:%M%P on %D") %>

                        <% else %>  <!-- /if @user.questions.last.created_at < if @user.questions.last.created_at < .. -->
                        Profile Updated at<br>
                        <%= @user.updated_at.strftime("%l:%M%P on %D") %>

                        <% end %>  <!-- /if @user.questions.last.created_at < if @user.questions.last.created_at < .. -->

                    </div>  <!-- /.bg-w-border -->

                    <% else %>  <!-- if !@user.questions.empty? -->

                    <div class="bg-w-border" style="overflow:hidden;">
                        New Member, no activity yet!
                    </div>

                    <% end %>  <!-- if !@user.questions.empty? -->

                </div>  <!-- /.ryanoverflow-horizontal-rows -->
            </div>  <!-- /.col-xs-4 -->

        </div>  <!-- /.row ryanoverflow-vertical-column -->
    </div>  <!--  /.col-xs-12 -->
</div>  <!-- /.container -->
<br>

<!--  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––-->
<!-- User Show Questions –––––––––––––––––––––––––––––––––-->
<!--  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––-->
<div class="row ryanoverflow-vertical-column">
    <div class="col-xs-8 col-xs-offset-2 bg-w-border user-show-question-header"> 
        <%= link_to @user do %>
        <div class="question-profile-image" style="margin-right: 20px;">
            <img src="<%= @user.profile_pic %>">
        </div>
        <% end %>
        <div class="bio-preview-header">
            <%= @user.username.capitalize %>'s 
        </div>
        <br>
        <br>
        <div class="bio-preview-header" style="text-decoration: none;">
            <%= @user.questions.count %> Questions
        </div>
    </div>  <!-- /.col-xs-8 col-xs-offset-2 bg-w-border user-show-question-header -->
</div>  <!-- /.row ryanoverflow-vertical-column -->


<% if !@user.questions.empty? %>
<div class="container">
    <% @user.questions.each do |question| %>
    <div class="row ryanoverflow-vertical-column question-row">

<!-- Question Column –––––––––––––––––––––––––––––––––-->
        <div class="col-xs-8">
            <div class="ryanoverflow-horizontal-rows">
            
<!-- Question Content –––––––––––––––––––––––––––––––––-->
                <div class="col-xs-12">
                    <div class="bio-preview-header"> 
                        <u> Question:</u>
                    </div>
                    <div class="bio bg-w-border">
                        <div class="question-title">
                            <%= link_to question.title, question %>
                        </div>
                        <div class="question-content">
                            <%= link_to question.content, question %>
                        </div>
                    </div>
                </div> 
                <br>

                <!-- Tags Content –––––––––––––––––––––––––––––––––-->
                <div class="col-xs-12">
                    <div class="bio-preview-header" style="margin-top: 15px;"> 
                        <u> Tags:</u>
                    </div>
                    <div class="tag-grouping">
                        <% question.tags.split.to_a.each do |single_tag|%>
                        <div class="tags-individualized bg-w-border">
                            <%= single_tag %>
                        </div>
                        <% end %>
                    </div>
                </div>  

        </div>  <!-- /.ryanoverflow-horizontal-rows -->
    </div>  <!-- /.col-xs-8 -->

<!-- Current User Activity Column –––––––––––––––––––––––––––––––––-->
        <% if (@current_user.id == question.user.id)  %>
        <div class="user-show-activity-column col-xs-2">
            <div class="ryanoverflow-horizontal-rows">

                <div class="votes-container bg-w-border">
                     <!-- Upvote -->
                    <%= link_to like_question_path(question), method: :put do %>
                       <div class="glyphicon glyphicon-chevron-up">
                      </div>
                      <% end %>
                      <!-- Vote Tally -->
                    <div class="votes-container-text">
                        Votes
                        <br>
                        <% if !question.answers.empty? %>
                        <%= question.votes_total %>
                        <% end %>
                      </div>
                      <!-- Down Vote -->
                      <%= link_to dislike_question_path(question), method: :put do %>
                      <div class="glyphicon glyphicon-chevron-down">
                      </div>
                      <% end %>
                </div>  <!-- /.votes-container bg-w-border -->

                <% if !question.answers.empty? %>
                <div class="activity-answers">
                    <u>Answers</u> <br>
                    <%= question.answers.count %>
                </div>
                <% end %>  <!-- / !question.answers.empty?  -->

            </div>  <!-- /.ryanoverflow-horizontal-rows -->
        </div>  <!-- / .user-show-activity-column col-xs-2 -->

<!-- Current User Edit Buttons –––––––––––––––––––––––––––––––––-->
        <div class="content-column-buttons col-xs-2">
            <div class="ryanoverflow-horizontal-rows">

                <div class="button-column-buttons">
                    <div class="edit-button">
                        <%= button_to edit_question_path(question.id), class: "btn btn-outline btn-warning", method: :get do %>
                        <div class="glyphicon glyphicon-edit"></div> 
                        Edit 
                        <% end %>
                    </div>
                    <div class="delete-button">
                        <%= button_to question, class: "btn btn-outline btn-danger", method: :delete, data: { confirm: 'Are you sure you want to delete your Question?' } do %>
                        <div class="glyphicon glyphicon-trash"></div> 
                        Delete 
                        <% end %>
                    </div>
                </div>  <!-- /.button-column-buttons -->

            </div>  <!-- /.ryanoverflow-horizontal-rows -->
        </div>  <!-- /.content-column-buttons col-xs-2 -->

    <% else %>  <!-- / if (@current_user.id == question.user.id)  -->

<!-- Not Current User Activity Column –––––––––––––––––––––––––––––––––-->
        <div class="user-show-activity-column col-xs-2 col-xs-offset-2">
            <div class="ryanoverflow-horizontal-rows">

                <div class="votes-container bg-w-border">
                     <!-- Upvote -->
                    <%= link_to like_question_path(question), method: :put do %>
                       <div class="glyphicon glyphicon-chevron-up">
                      </div>
                      <% end %>
                      <!-- Vote Tally -->
                    <div class="votes-container-text">
                        Votes
                        <br>
                        <%= (question.get_upvotes.size -  question.get_downvotes.size) %>
                      </div>
                      <!-- Downvote -->
                      <%= link_to dislike_question_path(question), method: :put do %>
                      <div class="glyphicon glyphicon-chevron-down">
                      </div>
                      <% end %>
                    </div>  <!-- /.votes-container bg-w-border -->

                <% if !question.answers.empty? %>
                <div class="activity-answers">
                    <u>Answers</u> <br>
                    <%= question.answers.count %>
                </div>
                <% end %>  <!-- /!question.answers.empty? -->

            </div>  <!-- /.ryanoverflow-horizontal-rows -->
        </div>  <!-- / .user-show-activity-column col-xs-2 col-xs-offset-2 -->

    <% end %>  <!-- / if (@current_user.id == question.user.id)  -->

    </div>  <!-- /.row ryanoverflow-vertical-column question-row -->

    <% end %>  <!-- @user.questions.each do |question| -->

    <% else %> <!-- /if !@user.questions.empty? -->

<!-- Users Profile has no Questions -->
        <div class="col-xs-8 col-xs-offset-2">
            <div class="ryanoverflow-horizontal-rows">
                <div class="ryanoverflow-horizontal-rows question-row">
                    <div class="bio-preview-header"> 
                        <%= @user.username.capitalize %> hasn't asked any questions yet!!
                    </div>
                </div>  
            </div>  <!-- /.ryanoverflow-horizontal-row -->
        </div>  <!-- /.col-xs-8 col-xs-offset-2 -->

    </div>  <!-- /.container -->
<% end %>  <!-- /.if !@user.questions.empty? -->

<!--  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––-->
<!-- User Show Answers –––––––––––––––––––––––––––––––––-->
<!--  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––-->
<div class="row ryanoverflow-vertical-column">
    <div class="col-xs-8 col-xs-offset-2 bg-w-border user-show-question-header"> 
        <%= link_to @user do %>
        <div class="question-profile-image" style="margin-right: 20px;">
            <img src="<%= @user.profile_pic %>">
        </div>
        <% end %>
        <div class="bio-preview-header">
            <%= @user.username.capitalize %>'s 
        </div>
        <br>
        <br>
        <div class="bio-preview-header" style="text-decoration: none;">
            <%= @user.answers.count %> Answers
        </div>
    </div>
</div>  <!-- /.row ryanoverflow-vertical-column -->


<% if !@user.answers.empty? %>
<div class="container">
    <% @user.answers.each do |answer| %>

<!-- Answer Row –––––––––––––––––––––––––––––––––-->
    <div class="row ryanoverflow-vertical-column question-row">
        <div class="col-xs-8">
            <div class="ryanoverflow-horizontal-rows">

<!-- Answer Content Column –––––––––––––––––––––––––––––––––-->
                <div class="col-xs-12">
                    <div class="bio-preview-header"> 
                        <u> Answer:</u>
                    </div>
                    <div class="bio bg-w-border">
                        <div class="question-title" style="border:none">
                            <%= answer.content %>
                        </div>
                    </div>
                    <br>
                    <div class="bio-preview-header"> 
                        <u> Answer to Question:</u>
                    </div>
                    <div class="bio bg-w-border">
                        <div class="question-title" style="border:none">
                            <%= link_to answer.question.title, answer.question %>
                        </div>
                    </div>
                </div>  <!-- /.col-xs-12 -->
                <br>

<!-- Answer Tags –––––––––––––––––––––––––––––––––-->
                <div class="col-xs-12">
                    <div class="bio-preview-header" style="margin-top: 15px;"> 
                        <u> Tags:</u>
                    </div>
                    <div class="tag-grouping">
                        <% answer.question.tags.split.to_a.each do |single_tag|%>
                        <div class="tags-individualized bg-w-border">
                            <%= single_tag %>
                        </div>
                        <% end %>
                    </div>
                </div>  <!-- /.col-xs-12 -->

            </div>  <!-- /.ryanoverflow-horizontal-rows -->
        </div>  <!-- /.col-xs-8 -->

        <% if (@current_user.id == answer.user.id)  %>

<!-- Current User Activity Column –––––––––––––––––––––––––––––––––-->
        <div class="user-show-activity-column col-xs-2">
            <div class="ryanoverflow-horizontal-rows">

                <div class="votes-container bg-w-border">
                     <!-- Upvote -->
                    <%= link_to like_answer_path(answer), method: :put do %>
                       <div class="glyphicon glyphicon-chevron-up">
                      </div>
                      <% end %>
                      <!-- Vote Tally -->
                     <div class="votes-container-text">
                        Votes
                        <br>
                        <%= (answer.get_upvotes.size -  answer.get_downvotes.size) %>
                      </div>
                      <!-- Downvote -->
                      <%= link_to dislike_answer_path(answer), method: :put do %>
                      <div class="glyphicon glyphicon-chevron-down">
                      </div>
                      <% end %>
                </div>  <!-- /.votes-container bg-w-border -->

            </div>  <!-- /.ryanoverflow-horizontal-rows -->
        </div>  <!-- / .user-show-activity-column col-xs-2 -->

<!-- Current User Edit Buttons –––––––––––––––––––––––––––––––––-->
    <div class="content-column-buttons col-xs-2">
        <div class="ryanoverflow-horizontal-rows">

            <div class="button-column-buttons">
                <div class="edit-button">
                    <%= button_to edit_answer_path(answer.id), class: "btn btn-outline btn-warning", method: :get do %>
                    <div class="glyphicon glyphicon-edit"></div> 
                    Edit 
                    <% end %>
                </div>
                <div class="delete-button">
                    <%= button_to answer, class: "btn btn-outline btn-danger", method: :delete, data: { confirm: 'Are you sure you want to delete your Answer?' } do %>
                    <div class="glyphicon glyphicon-trash"></div> 
                    Delete 
                    <% end %>
                </div>
            </div>  <!-- /.button-column-buttons -->

        </div>  <!-- /.ryanoverflow-horizontal-rows -->
    </div>  <!-- /.content-column-buttons col-xs-2 --> 

    <% else %>  <!-- if (@current_user.id == answer.user.id)  -->

<!-- Not Current User Activity Column –––––––––––––––––––––––––––––––––-->
    <div class="user-show-activity-column col-xs-2 col-xs-offset-2">
        <div class="ryanoverflow-horizontal-rows">
            
            <div class="votes-container bg-w-border">
                 <!-- Upvote -->
                <%= link_to like_answer_path(answer), method: :put do %>
                   <div class="glyphicon glyphicon-chevron-up">
                  </div>
                  <% end %>
                  <!-- Vote Tally -->
                <div class="votes-container-text">
                    Votes
                    <br>
                    <%= (answer.get_upvotes.size -  answer.get_downvotes.size) %>
                  </div>
                  <!-- Downvote -->
                  <%= link_to dislike_answer_path(answer), method: :put do %>
                  <div class="glyphicon glyphicon-chevron-down">
                  </div>
                  <% end %>
            </div>  <!-- /.votes-container bg-w-border -->
        
        </div>  <!-- /.ryanoverflow-horizontal-rows -->
    </div>  <!-- / .user-show-activity-column col-xs-2 col-xs-offset-2 -->

    <% end %>  <!-- / if (@current_user.id == answer.user.id)  -->

</div>  <!-- /.row ryanoverflow-vertical-column question-row -->

<% end %>  <!-- @user.answer.each do |answer| -->

<% else %> <!-- /if !@user.answers.empty? -->

<!-- Users Profile has no Answers -->
    <div class="col-xs-8 col-xs-offset-2">
        <div class="ryanoverflow-horizontal-rows">
            <div class="ryanoverflow-horizontal-rows question-row">
                <div class="bio-preview-header"> 
                    <%= @user.username.capitalize %> has no answers yet!!
                </div>
            </div>  
        </div>  
    </div>

</div>  <!-- /.container -->

<% end %>  <!-- /.if !@user.answers.empty? -->
