<!-- -----------------------------USERS SHOW ------------------------------------ -->
<h3 class="user-headers"> 
	<%= @user.username %>'s Profile 
</h3>
	<div class="container">
	    <div class="row user-show-row">
	        <div class="user-show-profile-pic col-xs-2 col-sm-offset-1">
	        	Profile
	        </div>
	        <div class="user-show-profile col-xs-6 col-sm-4">
	        	Bio
	        </div>
	        <div class="user-show-questions col-xs-1 col-sm-offset-1">
	        	Questions
	        </div>
	        <div class="user-show-answers col-xs-1">
	        	Answers
	        </div>
	        <div class="user-show-votes col-xs-2 col-sm-1">
	        	Votes
	        </div>
	    </div>
	    <div class="row user-show-row">
	        <div class="user-show-profile-pic col-xs-2 col-sm-offset-1">
	        	<%= link_to @user do %>
				<img class="user-show-profile-image" src="<%= @user.profile_pic %>">
			<% end %>
	        	<%= link_to @user.username, @user %><br>
			<%= link_to @user.email, @user %><br>
			User I.D. # <%= @user.id %><br>
	        </div>
	        <div class="user-show-profile col-xs-6 col-sm-4">
	        	<%= link_to @user.bio, @user %><br>
			Location: <%= @user.location %><br>
	        </div>
	        <div class="user-show-questions col-xs-1 col-sm-offset-1">
	        	<%= link_to @user.questions.count, @user %>
	        </div>
	        <div class="user-show-answers col-xs-1">
	        	<%= link_to @user.answers.count, @user %>
	        </div>
	        <div class="user-show-votes col-xs-2 col-sm-1">
	        	<%= link_to @user.votes.count, @user %>
	        </div>
	    </div>
	<!-- CLOSE CONTAINER -->
	  </div>

<!--
	<div class="ryan-overflow-form-button">
		<%-# link_to 'Edit', edit_user_path(@user), class: "btn btn-default btn-primary"  %>
	</div>

	<div class="ryan-overflow-form-button">	
		<%-# link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-primary"  %>
	 </div>
 -->
					

<!-- -----------------------------USERS Questions ------------------------------------ -->
<h3 class="user-headers"> 
<%= @user.username %>'s  Questions: 
</h3>
	<div class="container">		
	    <div class="row questions-index-row">
	        <div class="questions-index-title col-xs-3 col-sm-offset-1">
	        	Title
	        </div>
	        <div class="questions-index-content col-xs-4">
	        	Content
	        </div>
	        <div class="questions-index-votes-answers col-xs-2 col-sm-1">
	        	Votes
	        </div>
	        <div class="questions-index-user col-xs-3 col-sm-2">
	        	Answers
	        </div>
	        <!-- <div class="questions-index-user col-xs-3 col-sm-2">
	        	Edit / Delete
	        </div> -->
	    </div>
	
<% if !@user.questions.empty? %>
<% @user.questions.each do |question| %>
	    <div class="row questions-index-row">
	        <div class="questions-index-title col-xs-3 col-sm-offset-1">
	        	<%= link_to question.title, question %>
	        </div>
	        <div class="questions-index-content col-xs-4">
	        	<%= link_to question.content, question %><br><br>
	        	<%= link_to question.tags, question %>
	        </div>
	        <div class="questions-index-votes-answers col-xs-2 col-sm-1">
	        	<%= question.votes.count %>
	        </div>
	        <div class="questions-index-user col-xs-3 col-sm-2">
	        	<%= question.answers.count %>
	        </div>
	    </div>
<!-- 
	<div class="ryan-overflow-form-button">
		<%-# link_to 'Edit', edit_question_path(question), class: "btn btn-default btn-primary"  %>
	</div>
	
	<div class="ryan-overflow-form-button">	
		<%-# link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-primary"  %>
	</div>
 -->
<% end %>
<% else %>
	<div class="row">
		<div class="questions-index-user col-xs-12">
			<strong><%= @user.username %> hasn't asked any questions yet</strong>
		</div>
	</div>
<% end %>
	    <!-- Close Container -->
	  </div>

<!-- -----------------------------USERS Answers ------------------------------------ -->
<h3 class="user-headers"> 
	<%= @user.username %>'s Answers: 
</h3>
	<div class="container">		
	    <div class="row questions-index-row">
	        <div class="questions-index-title col-xs-3 col-sm-offset-1">
	        	Question
	        </div>
	        <div class="questions-index-content col-xs-4">
	        	Content
	        </div>
	        <div class="questions-index-votes-answers col-xs-2 col-sm-1">
	        	Votes
	        </div>
	        <div class="questions-index-user col-xs-3 col-sm-2">
	        	Question #
	        </div>
	        <!-- <div class="questions-index-user col-xs-3 col-sm-2">
	        	Edit / Delete
	        </div> -->
	    </div>
<% if !@user.answers.empty? %>
<% @user.answers.each do |answer| %>
	    <div class="row questions-index-row">
	        <div class="questions-index-title col-xs-3 col-sm-offset-1">
	        	<%= link_to answer.question.title, answer.question %>
	        </div>
	        <div class="questions-index-content col-xs-4">
	        	<%= link_to answer.content, answer %>
	        </div>
	        <div class="questions-index-votes-answers col-xs-2 col-sm-1">
	        	<%= answer.votes.count %>
	        </div>
	        <div class="questions-index-user col-xs-3 col-sm-2">
	        	<%= link_to answer.question.id, answer.question %>
	        </div>
	      </div>

<% end %>

			

<% else %>

		<div class="row index-row-cell">
			<div class="questions-index-user col-xs-12">
				<strong>No answers for this  question yet</strong>
			</div>
		</div>

<% end %>
	      <!-- Close Container -->
	  </div>
<br>
<br>
<br>
<br>
		
