<!-- ANSWER INDEX -->
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1" style="text-align:center; text-decoration:underline; margin-bottom: 25px;">
			<h3 class="section-header">Answers </h3>
		</div>
	</div>
	<table class="index-table">
		<thead>
			<tr>
				<th class="index-table-headings index-row-cell" style="border-left: none;">Question #</th>
				<th class="index-table-headings index-row-cell">Content</th>
				<th class="index-table-headings index-row-cell">Votes</th>
				<th class="index-table-headings index-row-cell">Answered By</th>
			</tr>
		</thead>
		<tbody>

<% @answers.each do |answer| %>

				<tr class="index-row">
					<td  class="index-row-cell">
						<%= link_to answer.question.id, answer.question %>
					</td>
					<td  class="index-row-cell">
							<%= link_to answer.content, answer %>
						<br>
					</td>
					<td  class="index-row-cell">
						<span class="index-votes">
							<%= answer.votes.count %>
						</span>
					</td>
					<td  class="index-row-cell">
							<%= link_to answer.user  do %>
									<img class="index-profile-image" src="<%= answer.user.profile_pic %>">
							<% end %>
							<%= link_to answer.user.username %>
					</td>
				</tr>
<% end %>

		</tbody>
	</table>
