<!-- ANSWER INDEX -->

<!-- Ryan Answer Page Title –––––––––––––––––––––––––––––––––-->
<div class="row">
   <div class="col-xs-12 page-title">    
       <h1>Answers </h1>
   </div>
</div>

<!-- Ryan Users Container –––––––––––––––––––––––––––––––––-->
<table class="index-table">
   <thead>
      <tr>
         <th class="index-table-headings index-row-cell" style="border-left: none;">Question #</th>
         <th class="index-table-headings index-row-cell">Content</th>
         <th class="index-table-headings index-row-cell">Votes</th>
         <th class="index-table-headings index-row-cell">Answered By</th>
      </tr>
   </thead>

   <tbody>
      <% @answers.each do |answer| %>
         <tr class="index-row">
            <td  class="index-row-cell">
               <%= link_to answer.question.id, answer.question %>
            </td>
            <td  class="index-row-cell">
               <%= link_to answer.content, answer %>
               <br>
            </td>
            <td  class="index-row-cell">
               <span class="index-votes">
                  <%= answer.votes.count %>
               </span>
            </td>
            <td  class="index-row-cell">
               <%= link_to answer.user  do %>
                  <img class="index-profile-image" src="<%= answer.user.profile_pic %>">
               <% end %>
               <%= link_to answer.user.username %>
            </td>
         </tr>
      <% end %>
   </tbody>
</table>
